.scroll-to-top {
  width: 50px;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  z-index: 10;
  background-color: gray;
  border-radius: 50px;
}
